<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="router" value ="192.168.50.1"/>
		<add key ="port" value ="8081"/>
		<add key ="username" value =""/>
		<add key ="password" value =""/>
		<add key ="direct_download" value="False"/>
		<add key ="Main_Width" value="834"/>
		<add key ="Main_Height" value="452"/>
		<add key ="list_title_width" value="NaN"/>
		<add key ="list_percent_width" value="NaN"/>
		<add key ="list_size_width" value="NaN"/>
		<add key ="list_status_width" value="NaN"/>
		<add key ="list_type_width" value="NaN"/>
		<add key ="list_time_width" value="NaN"/>
		<add key ="list_download_speed_width" value="NaN"/>
		<add key ="list_upload_speed_width" value="NaN"/>
		<add key ="list_peers_width" value="NaN"/>
	</appSettings>
</configuration>